@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

body {
	font-family: 'lato', Arial, sans-serif;
	font-size: 14px;
	line-height: 1.6;
	color: #24292d;
	text-align: top;
}

header {
	background: url(../images/table-edit-FINAL.jpg) top;

	background-size: cover;
	height: 800px;

	height: 100vh;
}

h1 {

	position: absolute;
	top: 90%;
	left: 50%;
	font-size: 14px;
	width: 300px;


	
	transform: translate(-50%,-50%) rotate(-20deg) scale(0.7) skew(30deg);

	
	-webkit-transform: translate(-50%,-50%);

}

section{
	text-align: center;

}


header a {
	position: absolute;
	bottom: 20px;
}


.intro {
	background-color: #e0e3e6;
	padding: 50px 0 50px;
}

h2 {
	font-size: 26px;
	text-transform: uppercase;
	font-weight: 300;
	margin: 0 0 50px 0;

}


.feature {

	max-width: 860px;
	margin: 0 auto 0 auto;
	padding: 50px 0 50px 0;
}


.feature img {
	
	display: block;
	margin: 15px auto 15px auto;
}


.full-photo {


	height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}



h3 {
	font-weight: 300;
	text-transform: uppercase;
	font-size: 42px;
	color: #ffffff;
	/*position at the bottom with absolute */
	position: absolute;
	bottom: 20px;
	/* when changing use position absolute or fixed items will lose the width 100% so we add it back to centre the text */
	width: 100%;

}

/* mailchimp form */

.mailchimp-form {
	background-color: #f3f4f5;
	padding: 50px 0 50px;

}
form {
	width: 100%
}

label {
	/* screen readers can still see the tag in the html */
	display: none;
}


input{
	/* set width 100% to override the default input width */
	/* max width will stop input from stretching all the way across */
	width: 100%;
	max-width: 860px;
	border: 2px solid #24292d;
	margin: 10px 0 10px 0;
	padding: 10px 10px 10px 10px;
	text-align: center;

	/* to remove the default blue outline when typing in input */
	outline: none;

	/* when any styles change aka when focusing on the input the border will fade to green instead of just swtiching to the new colour */

	transition: border 0.5s;
}
/* while an input is active (user has clicked inside) we can style with :focus * /

input:focus {
	border: 2px solid #16b898;
}

/* type email */
input[type="email"]{
	width: 100%;
	max-width: 860px;
	

input[type="submit"] {
	

}